<style>

    .bosluk{
        height: 100px;
    }
</style>
<div class="bosluk"></div>
<div class="container">
  <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
   <div class="card-header">ÇEKİLİŞ</div>
    <div class="card-body">
      <h5 class="card-title">Kullanıcı adları</h5>
        <div class="input-group mb-3">
          <div class="input-group-prepend ">
           <span class="input-group-text" id="basic-addon1">@</span>
          </div>
  <input type="text" class="form-control" placeholder="Kullanıcı adı" aria-label="Username" aria-describedby="basic-addon1">

          </div>

      <p class="card-text">kazanan sayısı</p>
        <div class="input-group mb-3">

            <input type="text" class="form-control" placeholder="sayı"  pattern="\d" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <button type="sumbit" value="" class="btn btn-secondary">Çekiliş Yap!</button>
  </div>


</div>